.vscode
test.py
*.taint
*.o
*.so
*.dwo
*.bc
GPATH
GRTAGS
GTAGS
GSYMS
output*/
*.tar.gz
*.tar.xz
auto/
/bin/
.DS_Store
/build/
__pycache__/
.python-version
lib
/libcxx/
/libcxxabi/
/libunwind/
/llvm_src/
/build_taint/
!/build_taint/lib/libc++.a
!/build_taint/lib/libc++abi.a
!/build_taint/lib/libunwind.a
